@model Hospital_Managment.Models.PharmacyProduct

@{
    Layout = "_dashboard";
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PharmacyProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="productId" />
            <div class="form-group">
                <label asp-for="productName" class="control-label"></label>
                <input asp-for="productName" class="form-control" />
                <span asp-validation-for="productName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestBeforeDate" class="control-label"></label>
                <input asp-for="BestBeforeDate" class="form-control" />
                <span asp-validation-for="BestBeforeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input id="image-input" asp-for="ImagePath" class="form-control" />
                <img id="image-src" width="100px" height="100px" src="@Model.ImagePath" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shipped" class="control-label"></label>
                <input asp-for="shipped" class="form-control" />
                <span asp-validation-for="shipped" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginFlagUrl" class="control-label"></label>
                <input asp-for="OriginFlagUrl" class="form-control" />
                <img width="10px" height="10px" src="@Model.OriginFlagUrl" />
                <span asp-validation-for="OriginFlagUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    var input = document.getElementById("image-input");
    var image = document.getElementById("image-src");
    input.addEventListener("change", updateImage);
    function updateImage() {
        image.src = input.value;
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
