@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form id="account" method="post">
                        <h2>Use a local account to log in.</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="col-md-8 col-lg-6 col-xl-4 offset-xl-1"></div>
                        <div class="form-outline mb-4">
                            <input asp-for="Input.Email" autocomplete="email" aria-required="true" class="form-control form-control-lg"
                               placeholder="Enter a valid email address or username" />
                            <label asp-for="Input.Email" class="form-label"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-outline mb-3">
                            <input asp-for="Input.Password" class="form-control form-control-lg" autocomplete="current-password" aria-required="true" placeholder="Enter password" />
                            <label asp-for="Input.Password" class="form-label"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>


                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">

                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>

                        </div>


                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary" asp-route-returnUrl="@Url.Action("Index", "Dashboard", new { area = "Dashboard" })">Log in</button>
                        </div>
                        <div>
                            <p>
                                <a class="text-body" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p class="small fw-bold mt-2 pt-1 mb-0">
                                Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"
                                                      class="link-danger">Register</a>
                            </p>


                        </div>
                    </form>
                </div>
            </div>
        </div>
      
    </section>
    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
}