@page
@using Microsoft.AspNetCore.Identity
@using Hospital_Managment.Utilities
@using Hospital_Managment.Models
@model RegisterModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Register";
}



@if (!SignInManager.IsSignedIn(User) || User.IsInRole(RolesStrings.Role_User_Admin))
{
    <!-- Section: Design Block -->
    <section class="text-center">
        <!-- Background image -->
        <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        "></div>
        <!-- Background image -->

        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
            <div class="card-body py-5 px-md-5">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="fw-bold mb-5">Sign up now</h2>


                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                            <h2>Create a new account.</h2>
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger row"></div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input asp-for="Input.Name"  class="form-control" autocomplete="new-password" aria-required="true" />
                                        <label asp-for="Input.Name">Full Name</label>
                                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input asp-for="Input.Email" class="form-control" autocomplete="new-password" aria-required="true" />
                                        <label asp-for="Input.Email" class="form-label"></label>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div> 
                            <div class="form-outline mb-4">
                                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="new-password" aria-required="true" />
                                <label asp-for="Input.PhoneNumber"></label>
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-4">
                                <input asp-for="Input.StreetAdress" class="form-control" autocomplete="new-password" aria-required="true" />
                                <label asp-for="Input.StreetAdress"></label>
                                <span asp-validation-for="Input.StreetAdress" class="text-danger"></span>
                            </div>


                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input asp-for="Input.City"  class="form-control"  autocomplete="new-password" aria-required="true"/>
                                        <label asp-for="Input.City"></label>
                                        <span asp-validation-for="Input.City" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input asp-for="Input.State" class="form-control" autocomplete="new-password" aria-required="true" />
                                        <label asp-for="Input.State"></label>
                                        <span asp-validation-for="Input.State" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input  asp-for="Input.PostalCode"  class="form-control" autocomplete="new-password" aria-required="true" />
                                        <label asp-for="Input.PostalCode"></label>
                                        <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                        <label asp-for="Input.Password"></label>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-outline mb-4">
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                <label asp-for="Input.ConfirmPassword"></label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                            @if (User.IsInRole(RolesStrings.Role_User_Admin))
                            {
                                <div class="form-outline mb-4">

                                    <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                                        <option disabled selected>-Select Role-</option>
                                    </select>
                                </div>
                            }
                            <!-- <div id="Input_Prof" style="display:none" class="form-floating py-2">
                            <select id="Input_Profession" class="form-select">
                            <option disabled selected>-Select Profession-</option>
                            <option  >Doctor</option>
                            <option  >Nurse</option>
                            </select>
                            </div>
                            -->
                            <button id="registerSubmit" type="submit" class="w-100 btn btn-primary">Register</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </section>
    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {

            $('#Input_Role').change(function () {
                var selection = $('#Input_Role Option:Selected').text();
                if (selection != 'Staff' || selection == '-Select Role-') {
                    $('#Input_Prof').hide();
                } else {
                    $('#Input_Prof').removeAttr("style");

                }
            })
        })
    </script>
}
}else{
    <partial name="_StatusMessage" model="Model.StatusMessage" />
}
<!-- Section: Design Block -->





