@{
    Layout = "_Layout";
    ViewData["Title"] = "Thank You";
}


<h2 style="text-align: center; margin-top: 100px;">We received your message!</h2>

<p style="text-align: center; margin-bottom: 50px;">Thank you for reaching out to us. We will get back to you soon.</p>

<p id="countdown" style="text-align: center; font-size: 20px;"></p>

<script>
    var count = 5;
    setInterval(function () {
        count--;
        document.getElementById("countdown").innerHTML = "Redirecting to home in " + count + " seconds...";
        if (count === 0) {
            window.location.href = '/';
        }
    }, 1000);
</script>

<style>
    body {
        background-color: #f2f2f2;
    }
</style>