@model Hospital_Managment.Models.UserFeedback
@{

}

<section class="position-relative overflow-hidden py-0">
    <div class="row">
        <div class="col-6 text-center mx-auto mt-5 mb-4">
            <h2>Clients reviews</h2>
            <p>
                See what people from all around the world are saying about our hospital.
            </p>
        </div>
    </div>
    <div class="bg-gradient-dark">
        <div id="carouselExampleIndicators" class="carousel slide pt-7 pb-11" data-bs-ride="carousel">
            <ol class="carousel-indicators pb-7">
                <a href="javascript:;">
                    <img src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-4.jpg" alt="..." class="avatar avatar-sm avatar-scale-up shadow border-radius-lg border-0 active" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true"> <span class="text-white mx-2">|</span>
                </a>

                <a href="javascript:;">
                    <img src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-3.jpg" alt="..." class="avatar avatar-sm avatar-scale-up shadow border-radius-lg border-0" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"> <span class="text-white mx-2">|</span>
                </a>

                <a href="javascript:;">
                    <img src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-2.jpg" alt="..." class="avatar avatar-sm avatar-scale-up shadow border-radius-lg border-0" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2">
                </a>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 mx-auto text-center">
                                <img class="w-50 mb-4 avatar avatar-xl" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-4.jpg" alt="">
                                <p class="lead text-white">"We’re not always in the position that we want to be at. We’re constantly growing. We’re constantly making mistakes. We’re constantly trying to express ourselves and actualize our dreams." </p>
                                <div class="author justify-content-center">
                                    <div class="name ps-2">
                                        <span class="text-white">John Down</span>
                                        <div class="stats">
                                            <small class="text-white opacity-6">Visionary, Google</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 mx-auto text-center">
                                <img class="w-50 mb-4 avatar avatar-xl" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-3.jpg" alt="">
                                <p class="lead text-white">"We’re not always in the position that we want to be at. We’re constantly growing. We’re constantly making mistakes. We’re constantly trying to express ourselves and actualize our dreams."</p>
                                <div class="author justify-content-center">
                                    <div class="name ps-2">
                                        <span class="text-white">Marcell Glock</span>
                                        <div class="stats">
                                            <small class="text-white opacity-6">Chief Executive, Spotify</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 mx-auto text-center">
                                <img class="w-50 mb-4 avatar avatar-xl" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-2.jpg" alt="">
                                <p class="lead text-white">"We’re not always in the position that we want to be at. We’re constantly growing. We’re constantly making mistakes. We’re constantly trying to express ourselves and actualize our dreams." </p>
                                <div class="author justify-content-center">
                                    <div class="name ps-2">
                                        <span class="text-white">Mathew Goat</span>
                                        <div class="stats">
                                            <small class="text-white opacity-6">Social Media Executive, Netflix</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>