@model IEnumerable<Hospital_Managment.Models.Patient>

@{
    Layout = "_dashboard";
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Users List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Patient" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Patient
            </a>

        </div>
    </div>
    <br /><br />

    <table id="tblData" class=" table-bordered table-white" style="width:100%">
        <thead class="thead-light">
            <tr>
                <th> Full Name</th>
                <th>Street Adress</th>
                <th> City</th>
                <th> State</th>
                <th> Postal Code</th>
                <th> User Image</th>
                <th> Email</th>
                <th> Phone Number</th>
                <th>Actions</th>
                


            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/users.js"></script>
}

                