@model IEnumerable<Hospital_Managment.Models.Patient>

@{
    Layout = "_dashboard";
    ViewData["Title"] = "Index";
}@{
    var status = Context.Request.Query["status"];
    var administrators = "text-primary";
    var customers = "text-primary";
    var all = "text-primary";

    switch (status)
    {
        case "administrators":
            administrators = "active text-danger";
            break;
        case "customers":
            customers = "active text-danger";
            break;
        default:
            all = "active text-wthie";
            break;
    }
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-4">
            <h2 class="text-primary">Users List</h2>
        </div>
        <div class="p-2">
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Patients" asp-action="Index" asp-route-status="administrators">
                <li class="list-group-item @administrators">Administrators</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Patients" asp-action="Index" asp-route-status="customers">
                <li class="list-group-item @customers">Customers</li>
               </a>
                <a style="text-decoration:none;" asp-controller="Patients" asp-action="Index" asp-route-status="all">
                <li class="list-group-item @all">All</li>
                </a>

            </ul>

        </div>
        <div class="col-12 text-end ">
            <li class="nav-item  " style="list-style:none;">
                <a class="nav-link text-dark text-bg-danger " asp-area="Identity" asp-page="/Account/Register">Create a new User</a>
            </li>

        </div>
    </div>
    <br /><br />

    <table id="tblData" class=" table-bordered table-white" style="width:100%">
        <thead class="thead-light">
            <tr>
                <th> Full Name</th>
                <th>Street Adress</th>
                <th> City</th>
                <th> User Image</th>
                <th> Role</th>
                <th> Email</th>
                <th> Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
  <script src="~/js/user.js"></script>
}

                