
 @model IEnumerable<Hospital_Managment.Models.Department>

@{
    Layout = "_dashboard";
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Department List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Departments" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Department
            </a>
         
        </div>
    </div>
    <br /><br />

    <table id="tblData" class=" table-bordered table-white" style="width:100%">
        <thead class="thead-light">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name) </th>
                <th>@Html.DisplayNameFor(model => model.PhoneNumber) </th>
                <th>@Html.DisplayNameFor(model => model.Email) </th>
                <th>Image</th>
                <th>Actions</th>
                
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/department.js"></script>
}

    <!--{"data":[{"departmentId":5,"name":"Kirurgji","phoneNumber":"03233544545","email":"kirurgji@gmail.com","imageUrl":"\\images\\departments\\d0d65108-1683-4b01-a545-cc66dad8d845.jpg"},{"departmentId":6,"name":"Radiologji","phoneNumber":"04333434333","email":"kog@hotmail.com","imageUrl":"\\images\\departments\\e5b26656-4850-4a3d-9272-180c8e72f1ca.jpg"}]}-->

