@{

    Layout = "_dashboard";
    ViewData["Title"] = "Index";
}

@{
    var status = Context.Request.Query["status"];
    var active = "text-primary";
    var inprogress = "text-primary";
    var expired = "text-primary";
    var all = "text-primary";

    switch (status)
    {
        case "active":
            active = "active text-danger";
            break;
        case "inprogress":
            inprogress = "active text-danger";
            break;
        case "expired":
            expired = "active text-danger";
            break;
        default:
            all = "active text-wthie";
            break;
    }
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Appointments</h2>
        </div>
        <div class="p-2">
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Appointments" asp-action="Index" asp-route-status="active">
                <li class="list-group-item @active">Active</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Appointments" asp-action="Index" asp-route-status="inprogress">
                <li class="list-group-item @inprogress">InProgress</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Appointments" asp-action="Index" asp-route-status="expired">
                <li class="list-group-item @expired">Expired</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Appointments" asp-action="Index" asp-route-status="all">
                <li class="list-group-item @all">All</li>
                </a>

            </ul>

        </div>
    </div>
    <br /><br />
    <table id="tblData" class=" table-bordered table-white" style="width:100%">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Phone Number</th>
                <th>Email </th>
                <th>Adress</th>
                <th>ReasonForVisiting</th>
                <th> Doctor</th>
                <th>Details</th>




            </tr>
        </thead>
    </table>
</div>


@section Scripts{
    <script src="~/js/appointments.js"></script>
}
